* {
    box-sizing: border-box;
}

.header {
    width: 960px;
    margin: 0 auto 0 auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: #4aaaa5;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
    float: left;
    padding: 20px;
    margin-left: 2px;
    font-size: 40px;
}

#nav {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    float: right;
    margin-top: 30px;
    font-size: 20px;
}

.background{
    clear: both; 
    height: 720px;
    width: 100%;
    margin: 0 auto;
    background: url("../images/waves.png");
    background-size: cover
}

.wrapper {
   width: 960px;
   padding-top: 30px;
   padding-bottom: 50px;
   padding-left: 25px;
   padding-right: 25px;
   margin: 0 auto;
   border-style: solid;
   position: relative; top: 40px;
   background: white;
   position: relative;
top: 40px;
}
.wrapper::after{
    content: "";
    display: block;
    clear: both;
}

h2{
   color: #4aaaa5;
   font-size: 40px;
   margin-left: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}


img{
    float: left;
    margin: 15px;
    margin-left: 20px;
}

<p>{
    float: left;
}


footer{
    clear: both;
    background-color: #666666;  
    border-top-style: solid;
    border-top-color: #44aaaa;
    border-top-width: 2px;
    color: whitesmoke;
    font-size: small;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: auto;  
    
  }